.app .container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
body {
  background-color: #eff2f3;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.title{
  font-size: 40px;
  margin-left: 4%;
  margin-top: 3%;
  color: #3b4446;
}
.u-palette-2-base {
  color: #ffffff;
  background-color: #bba1a3;
}
.u-tabs:not([class*="u-align-"]), .u-repeater-item:not([class*="u-align-"]),
.u-container-style:not([class*="u-align-"]) {
  text-align: left;
  margin: 4%;
  padding: 2% 2% 2% 5%;
}
.u-container-style #timer {
  text-align: right;
}
.u-palette-2-base{
  color: #ffffff;
  background-color: #bba1a3;
}
.u-container-layout:not(p){
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-right: 5%;

}
*, *:before, *:after {
  box-sizing: border-box;
}
.u-text, .u-text span {
  word-wrap: break-word;
  position: relative;
}
.launch {
  padding: 10% 0;
}

.launch .container {
  display: flex;
  flex-wrap: wrap;
}

.launch {
  box-sizing: border-box;
  flex-basis: 33.33%;
  padding: 10px;
  color: inherit;
}

.mission-item {
  display: block;
}

.mission-item__title {
  margin: 10px 0;
  text-align: right;
  font-size: 16px;
}
td {
  display: table-cell;
  vertical-align: inherit;
  color: #3b4446;
}
th, td {
  padding: 1px 10px 5px;
  font-weight: inherit;
  position: relative;
  margin: 5px;
}
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
  padding: 5px;
  border-radius: 5px;
}
#timer{
  background: #eff2f3;
}
